<% provide(:title, "Sign in") %>
<div class="loginWrapper">
  <div class="loginForm">
    <div class="facebookLogin">
      <%= simple_form_for(:session) do |f| %>
        <%= f.input :provider, as: :hidden, input_html: {value: 'facebook'} %>
        <%= link_to image_tag('fb/active_404.png'), "/auth/facebook", id: "facebook_sign_in" %>
      <% end %>
    </div>
    <span><h2>or</h2></span>
    <div class="userLogin">
      <%= simple_form_for(:session, url: sessions_path) do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :provider, as: :hidden, input_html: {value: 'site'}%>
        <%= f.button :submit,  "Sign in", class: "btn btn-large btn-login" %>
      <% end %>
    </div>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>