<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% if !@user.logged_in_with('facebook') %>
        <%= render 'shared/user_form', f: f %>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <%= image_for @user %>
        <a href="http://gravatar.com/emails">change</a>
      <% else %>
        <p>Currently there are no settings for you to change. </p>
      <% end %>
    <% end %>
  </div>
</div>