<% provide(:title, @user.name) %>
<div class="userShowWrapper">
  <%= render 'shared/day_item_form' unless current_user != @user %>
  <%= render 'shared/comment_modal' %>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#calendar-view" data-toggle="tab">Calendar</a></li>
    <% if current_user == @user %>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <% end %>
    <div class="profile-header">
    <%= image_for @user%><h4><%= @user.name %></h4>
  </div>
  </ul>
  <div class="tab-content">
    <% if current_user == @user %>
      <div class="row tab-pane" id="profile">
        <div class="asideInformation user-pane col-xs-3">
          <div class="asideInformationHeader">
            <%= render 'shared/user_stats' %>
          </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="activityFeed user-pane col-xs-4">
          <h3>Activity Feed</h3>
            <%= render 'shared/feed' %>
        </div>
      </div>
    <% end %>
    <div class="tab-pane fade active in" id="calendar-view">
      <div class="calendar">
        <script type="text/template" id='calendar-template'>
          <div class="clndr-controls">
            <div class="btn-group">
              <button class="text-left btn  clndr-previous-button previous-btn">
              <i class="fa fa-play fa-rotate-180"> </i>
              </button>
              <button class="btn  clndr-next-button next-btn">
                <i class="fa fa-play"> </i>
              </button>
            </div>
            <div class="month"><%%= month %></div>
          </div>
          <div class="clndr-grid">
            <div class="days-of-the-week clearfix">
              <%% _.each(extras.days, function(day) { %>
                <div class="header-day"><%%= day %></div>
              <%% }); %>
              <div class="header-day other-header">Total</div>
            </div>
            <div class="days clearfix">
              <%% var week_num = 0; _.each(days, function(day) { %>
                <div class="<%%= day.classes %> <%%= 'week' + week_num %>" id="<%%= day.id %>">
                  <%% _.each(day.events, function(day_item) { %>
                    <div class="day-header">
                      <span class="day-number"><%%= day.day %></span>
                      <%% if (day_item.title != "") { %>
                        <span class="day-title"><%%= day_item.title %></span>
                      <%% } %>
                    </div>
                    <%% _.each(day_item.exercises, function(day_event) { %>
                      <%= render 'shared/day_event' %>
                    <%% }); %>
                  <%% }); %>
                </div>
                <%% if (day.date.day() == 6) { %>
                  <div class="clndr-box day users-total <%%= 'week' + week_num%>"></div>
                <%% week_num = week_num + 1;} %>
              <%% }); %>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</div>