<div class="activityType">
  <%= f.input :activity, collection: Exercise.activity.values, :include_blank => false %>
</div>
<div class="distanceForm">
  <%= f.input :distance, input_html: { min: 0 } %>
  <%= f.input :unit, collection: Exercise.unit.values, 
  label: false,  
  selected: :mile %>
</div>
<div class="duration">
  <%= f.label :duration %>
  <%= f.input :duration, as: :string, label: false, input_html: { id:"hours", name:"day_item[exercise][duration_hours]", placeholder: "hrs" }%>
  <%= f.input :duration, as: :string, label: false, input_html: { id:"minutes", name:"day_item[exercise][duration_minutes]", placeholder: "mins"}%>
  <%= f.input :duration, as: :string, label: false, input_html: { id:"seconds", name:"day_item[exercise][duration_seconds]", placeholder: "secs" }%>
</div>
<div class="pace"></div>
<%= f.input :comment %>