<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="distance"><%= feed_item.distance %> miles. </span>
  <span class="duration"><%= format_duration(feed_item.duration)%></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if(!feed_item.comment.nil?) %>
    <div class="comment">
      <%= wrap(feed_item.comment) %>
    </div>
  <% end %>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.created_at %>
  <% end %>
</li>