
<%= f.label :name %>
<div class="new_user_input">
  <%= f.text_field :name %>
</div>
<%= f.label :email %>
<div class="new_user_input">
  <%= f.text_field :email %>
</div>
<%= f.label :password %>
<div class="new_user_input">
  <%= f.password_field :password %>
</div>
<%= f.label :password_confirmation, "Confirmation" %>
<div class="new_user_input">
  <%= f.password_field :password_confirmation %>
</div>