<%= simple_form_for(@team_goal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :team %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :distance %>
    <%= f.input :duration %>
    <%= f.input :activity %>
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
